body {
    background-color: black;
}

button {
    background-color: brown;
    border-radius: 10px;
    width: 75px;
    font-size: large;
    font-family: fantasy;
}

.logo {
    color: white;
    text-align: center;
    font-family: fantasy;
}
#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.card-container {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    background-color: brown;
}

.card {
    background-color: #ed1d24;
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
}

.front, .back {
    width: 200px;
    height: 200px;
}